<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>893859672069-qpt24qapccmbs6cka1fk4rm4qrilnqt2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.893859672069-qpt24qapccmbs6cka1fk4rm4qrilnqt2</string>
	<key>API_KEY</key>
	<string>AIzaSyDM4dlj-y-p23Ofpdm_JAkxi7qwSMfrnvk</string>
	<key>GCM_SENDER_ID</key>
	<string>893859672069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prodigium.visitnorthsulawesi</string>
	<key>PROJECT_ID</key>
	<string>chatapp-55894</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-55894.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:893859672069:ios:cbd990615d777573d7ac6c</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-55894-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>